<!doctype html>
<html lang="{{ lang }}"
      itemscope="itemscope" xmlns="http://www.w3.org/1999/xhtml"
      itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="utf-8"/>
        <title itemprop="name">{%- block page_title -%}
            Выборы в Сахалинской области
        {%- endblock -%}</title>
        <meta itemprop="inLanguage" content="ru"/>

        <script type="text/javascript">{{- '\n' -}}
            window.config = {staticUrl: '{{ STATIC_URL }}'};{{- '\n' -}}
        </script>

        {%- block extrahead %}{% endblock -%}
    </head>
    <body>
        <p><a href="{{ url.index }}">Главная страница</a></p>
        {%- block content -%}{%- endblock -%}
    </body>
</html>
