{% extends "base.html" %}

{% block content %}
<h1>{{ item.name }}</h1>
{% if item.parent %}
    <p><a href="">{{ item.parent.name }}</a></p>
{% endif %}
<table>
    {% for candidate in candidates %}
        <tr>
            <td>{{ candidate.id }}</td>
            <td>{{ candidate.name }}</td>
            <td>{{ candidate.normalized_name }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
