{% extends "base.html" %}

{% block content %}
<table>
    {% for candidate in candidates %}
        <tr>
            <td>{{ candidate.id }}</td>
            <td>{{ candidate.name }}</td>
            <td>{{ candidate.normalized_name }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
