{% extends "base.html" %}

{% block content %}
<table>
    {% for commission in commissions %}
        <tr>
            <td><a href="{{ url.commissions.item(id=commission.id) }}">{{ commission.id }}</a></td>
            <td><a href="{{ url.commissions.item(id=commission.id) }}">{{ commission.name }}</a></td>
            <td>{{ commission.path }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
