{% extends "base.html" %}

{% block content %}
    <h1>{{ item.name }}</h1>
    {% if item.parent %}
        <p><a href="{{ url.commissions.item(id=item.parent.id) }}">
            &larr; {{ item.parent.name }}
        </a></p>
    {% endif %}
    <table>
        {% for commission in children %}
            <tr>
                <td><a href="{{ url.commissions.item(id=commission.id) }}">{{ commission.id }}</a></td>
                <td><a href="{{ url.commissions.item(id=commission.id) }}">{{ commission.name }}</a></td>
                <td>{{ commission.normalized_name }}</td>
            </tr>
        {% endfor %}
    </table>
    
    <h2>Голосования:</h2>
    <ul>
        {% for voting in votings %}
            <li><a href="{{ url.voting(vrn=voting.vrn, candidates_uid=voting.candidates_uid, izbirkom_id=voting.izbirkom_id) }}">
                {{- voting.vybory.title -}} aa
            </a></li>
        {% endfor %}
    </ul>
{% endblock %}
