{% extends "base.html" %}

{% block content %}
<table>
    {% set yr = None %}
    {% for vybory in vyborys %}
        {% if yr != vybory.vote_day.year %}
            <tr><th colspan="4">{{ vybory.vote_day.year }}</th></tr>
        {% endif %}
        {% set yr = vybory.vote_day.year %}
        <tr>
            <td>{{ vybory.vote_day.strftime("%d.%m.%Y") }}</td>
            <td>{% if vybory.url %}<a href="{{ vybory.url }}">>>></a>{% endif %}</td>
            <td><a href="{{ url.vybory(vrn=vybory.vrn) }}">{{ vybory.title }}</a></td>
            <td>{% if vybory.organizer %}{{ vybory.organizer.short_name }}{% endif %}</td>
        </tr>
    {% endfor %}
</table>

<h2>Статистика</h2>
<dl>
    <dt>Выборов:</dt><dd>{{ vybory_count }}</dd>
    <dt><a href="{{ url.commissions }}">Комиссий:</a></dt><dd>{{ izbirkoms_count }}</dd>
    <dt><a href="{{ url.types }}">Типов данных:</a></dt><dd>{{ result_types_count }}</dd>
    <dt><a href="{{ url.candidates }}">Кандидатов:</a></dt><dd>{{ candidates_count }}</dd>
    <dt>Протоколов:</dt><dd>{{ voting_count }}</dd>
    <dt>Данных:</dt><dd>{{ results_count }}</dd>
</dl>
{% endblock %}
