{% extends "base.html" %}

{% block content %}
<table>
    {% for result_type in result_types %}
        <tr>
            <td><a href="{{ url.types.item(id=result_type.id) }}">{{ result_type.id }}</a></td>
            <td><a href="{{ url.types.item(id=result_type.id) }}">{{ result_type.name }}</a></td>
            <td>{{ counts.get(result_type.id, 0) }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
