{% extends "base.html" %}

{% block content %}
<h2>{{ vybory.title }}</h2>
<p>{{- voting.izbirkom.name -}}</p>

<table>
    <tr>
        <th>Дата объявления</th>
        <td>{{ vybory.campaign_start.strftime("%d.%m.%Y") }}</td>
    </tr>
    <tr>
        <th>Дата голосования</th>
        <td>{{ vybory.vote_day.strftime("%d.%m.%Y") }}</td>
    </tr>
    <tr>
        <th></th>
        <td>{% if voting.url %}<a href="{{ voting.url }}">на сайте ЦИК</a>{% endif %}</td>
    </tr>
    {% if voting.parent %}
        <tr>
            <th>Уровень выше</th>
            <td><a href="{{ url.voting(vrn=vybory.vrn, izbirkom_id=voting.parent.izbirkom_id, candidates_uid=voting.parent.candidates_uid) }}">{{ voting.parent.izbirkom.name }}</a></td>
        </tr>
    {% else %}
        <tr>
            <th>Уровень выше</th>
            <td><a href="{{ url.vybory(vrn=vybory.vrn) }}">{{ voting.vybory.izbirkom.name }}</a></td>
        </tr>
    {% endif %}
</table>

<h2>Результат</h2>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Итог</th>
            {% for vt in children %}
                <th>
                    <a href="{{ url.voting(vrn=vybory.vrn, izbirkom_id=vt.izbirkom_id, candidates_uid=vt.candidates_uid) }}">{{ vt.izbirkom.name }}</a>
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for result_type in result_types %}
            <tr>
                <th>{{ result_type.name }}</th>
                {% for vt in [voting]+children %}
                    <td>
                        {%- set result = result_grid[(vt, result_type)] -%}
                        {{ result.value }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}

        <tr><td colspan="{{ children|length + 2 }}">Кандидаты</td></tr>

        {% for result_type in candidates %}
            <tr>
                <th>{{ result_type.name }}</th>
                {% for vt in [voting]+children %}
                    <td>
                        {% set result = result_grid[(vt, result_type)] %}
                        {{ result.value }}
                        {% if result.percent %}
                            <br/>
                            <em>{{ result.percent }}%</em>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>


{% if orphans %}
    <h2>Другие голосования</h2>
    <ul>
        {% for voting in orphans %}
        <li>
            <p><a href="{{ url.voting(vrn=vybory.vrn, izbirkom_id=voting.izbirkom_id, candidates_uid=voting.candidates_uid) }}">
            </a></p>
        </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
