{% extends "base.html" %}

{% block content %}
<h2>{{ vybory.title }}</h2>
<p>{% if vybory.organizer %}{{ vybory.organizer.short_name }}{% endif %}</p>

<table>
    <tr>
        <th>Дата объявления</th>
        <td>{{ vybory.campaign_start.strftime("%d.%m.%Y") }}</td>
    </tr>
    <tr>
        <th>Дата голосования</th>
        <td>{{ vybory.vote_day.strftime("%d.%m.%Y") }}</td>
    </tr>
    <tr>
        <th></th>
        <td>{% if vybory.url %}<a href="{{ vybory.url }}">на сайте ЦИК</a>{% endif %}</td>
    </tr>
</table>

<h2>Голосования</h2>
<ul>
    {% for voting in votings %}
    <li>
        <p><a href="{{ url.voting(vrn=vybory.vrn, izbirkom_id=voting.izbirkom_id, candidates_uid=voting.candidates_uid) }}">
            {{- voting.izbirkom.name -}}
        </a></p>
        
        {% if voting.children %}
            <p>В нижестоящих коммиссиях:</p>
            <ul>
            {% for subvoting in voting.children %}
                <li><a href="{{ url.voting(vrn=vybory.vrn, izbirkom_id=subvoting.izbirkom_id, candidates_uid=subvoting.candidates_uid) }}">
                    {{- subvoting.izbirkom.name -}}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
